<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar Produto" animated
                 (ionChange)="buscarProduto($event)">
  </ion-searchbar>

  <ion-card *ngFor="let produto of produtos | filtro:textobuscar; let index = index">
    <img src="{{ produto.caminhoFoto }}" />
    <ion-card-header>
      <ion-card-title>{{ produto.nome }}</ion-card-title>
      <ion-label>{{ produto.preco.toLocaleString('pt-BR',{style: 'currency', currency:'BRL'}) }}</ion-label>
    </ion-card-header>
    <ion-item>
      <ion-button color="primary" *ngIf="isUserAuthenticated == false" [routerLink]="['/tabs/minhaconta']">
        <ion-icon name="checkbox" slot="start"></ion-icon>
        Adicionar ao carrinho
      </ion-button>
      <ion-button color="primary"
      (click)="adicionarAoCarrinho(produto.id, produto.descricao, produto.preco, quantidadeUltimaSelecao[index], index)"
      *ngIf="isUserAuthenticated == true && prodStatus[index] == 0" [disabled]="produto.quantidade <= 0">
        <ion-icon name="checkbox" slot="start"></ion-icon>
        Adicionar ao carrinho
      </ion-button>
      <ion-button color="danger"
      (click)="removerDoCarrinho(produto.id, produto.descricao, produto.preco, quantidadeUltimaSelecao[index], index)"
      *ngIf="isUserAuthenticated == true && prodStatus[index] == 1">
        <ion-icon name="close" slot="start"></ion-icon>
        Remover do carrinho
      </ion-button>
      <ion-button color="warning" [routerLink]="['produto-detalhes', produto.id]" (click)="setProductIndice(index)" style="margin-right: 10px;">
        <ion-icon name="information"></ion-icon>
        Detalhes
      </ion-button>
      <div *ngIf="produto.quantidade > 1">
        {{ produto.quantidade }} disponíveis
      </div>
      <div *ngIf="produto.quantidade == 1">
        {{ produto.quantidade }} disponível
      </div>
      <div *ngIf="produto.quantidade <= 0">
        Indisponível
      </div>
    </ion-item>
    <ion-card-content>
      <div>
        <ion-label style="position: relative; left: 20px; top: 0px">Quantidade</ion-label>
      </div>
      <ion-button color="danger" size="small" (click)="diminuirQtd(index)" [disabled]="quantidadeUltimaSelecao[index] == 1 || prodStatus[index] == 1 || produto.quantidade <= 0 || isUserAuthenticated == false">
        -
      </ion-button>
      <ion-button color="light" style="--border-radius: 5px" [disabled]="prodStatus[index] == 1 || isUserAuthenticated == false">
        {{ quantidadeUltimaSelecao[index] }}
      </ion-button>
      <ion-button color="secondary" size="small" (click)="adicionarQtd(index)" [disabled]="quantidadeUltimaSelecao[index] == produto.quantidade || prodStatus[index] == 1 || produto.quantidade <= 0 || isUserAuthenticated == false">
        +
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>