<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="produtos != null" >
  <ion-searchbar placeholder="Buscar Produto" animated
              (ionChange)="buscarProduto($event)"></ion-searchbar>
              
  <ion-list>
 
    <ion-item *ngFor="let produto of produtos | filtro:textobuscar; let index = index"
              (mouseover)="clearItemQtd(produto.quantidade)">       
  
      <div class="cardprodutos">
        
        <div class="imgprodutos">
          <ion-img src="{{ produto.caminhoFoto }}"></ion-img>
        </div>

        <div class="descricao">
          <label> {{ produto.descricao }}</label>
          <label>R$:{{ produto.preco }}</label>
        </div>

        <section class="full-width">
          <ion-button  color="secondary" [routerLink]="['produto-detalhes', produto.id]">
            <ion-icon name="information" ></ion-icon>
            Detalhes
          </ion-button>
          
          <ion-button color="secondary"
                      *ngIf="isUserAuthenticated == false"
                      [routerLink]="['/tabs/minhaconta']">
            <ion-icon name="checkbox" slot="start"></ion-icon>
            Adcionar ao carrinho
          </ion-button>
          <ion-button color="secondary"
                      (click)="adicionarAoCarrinho(produto.descricao, produto.preco, quantidadeSelecionada.value, index)"
                      *ngIf="isUserAuthenticated == true && prodStates[index] == 0 || prodStates[index] == undefined">
            <ion-icon name="checkmark" slot="start"></ion-icon>
            Adcionar ao carrinho
          </ion-button>
          <ion-button color="danger"
                      (click)="removerDoCarrinho(produto.descricao, produto.preco, quantidadeSelecionada.value, index)"
                      *ngIf="isUserAuthenticated == true && prodStates[index] == 1">
            <ion-icon name="close" slot="start"></ion-icon>
            Remover do carrinho
          </ion-button>
          
          <ion-item (mouseup)="setItemQtd(produto.quantidade)">
            <ion-label>Quantidade:  </ion-label>
            <ion-select value="1" #quantidadeSelecionada>
              <ion-select-option *ngFor="let qtd of qtdItem">{{ qtd }}</ion-select-option>
            </ion-select>
          </ion-item>
        </section>

      </div>
           
    </ion-item>
  </ion-list>
</ion-content>