<ion-header>
  <ion-toolbar color="primary" class="ion-text-center">
    <ion-title>Carrinho</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="produtoSelecionados.length > 0">
  <p>Produtos Selecionados</p>
  <table>
  
    
    <tr *ngFor="let produtoSelecionado of produtoSelecionados; let index = index">
      <td *ngIf="quantidadeSelecionada[index] == 1">{{ quantidadeSelecionada[index] + ' unidade' }}</td>
      <td *ngIf="quantidadeSelecionada[index] > 1">{{ quantidadeSelecionada[index] + ' unidades' }}</td>
      <td>{{ produtoSelecionado }}</td>
      <!-- <td>{{ (precoProduto[index] / quantidadeSelecionada[index]).toLocaleString('pt-BR',{style: 'currency', currency:'BRL'}) }}</td> -->
      <td>{{ precoProduto[index].toLocaleString('pt-BR',{style: 'currency', currency:'BRL'}) }}</td>
      <td>
        <ion-button color="danger" (click)="removerDoCarrinho(produtoSelecionado, precoProduto[index], quantidadeSelecionada[index], produtoId[index], indice[index])">
          <ion-icon name="close"></ion-icon> 
        </ion-button>
      </td>
    </tr>
   Preço Total: <ion-label>{{ total.toLocaleString('pt-BR',{style: 'currency', currency:'BRL'}) }}</ion-label> 
  </table>
  <br>
  <section class="full-width">
    <ion-button  color="primary" [routerLink]="['finalizarcarrinho']" *ngIf="produtoSelecionados.length > 0">
    
      Escolher Forma de Pagamento
    </ion-button>
  </section>
</ion-content>

<ion-content *ngIf="produtoSelecionados.length == 0" class="ion-text-center" style="position: relative; top: 20%">
  <ion-icon name="alert-circle-outline" style="font-size: 60px"></ion-icon>
  <p>Não há produtos adicionados ao carrinho</p>
</ion-content>