<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <table>
    <tr>
      <th>Quantidade Selecionada</th>
      <th>Produto selecionado</th>
      <th>Preço</th>
      <th>Remover</th>
    </tr>
    <tr *ngFor = "let produtoSelecionado of produtoSelecionados; let index = index">
      <td>{{ quantidadeSelecionada[index] + 'X' }}</td>
      <td>{{ produtoSelecionado }}</td>
      <td>{{ precoProduto[index] }}</td>
      <td>
        <ion-button color="danger" (click)="removerDoCarrinho(produtoSelecionado, precoProduto[index], quantidadeSelecionada[index], produtoId[index], index)">
          <ion-icon name="close"></ion-icon> 
        </ion-button>
      </td>
    </tr>
   Preço Total: <ion-label>{{'R$ ' + total + ',00'}}</ion-label> 
  </table>
  
</ion-content>