<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="produto != null">
    <ion-img src="{{ produto.caminhoFoto }}"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ produto.nome }}</ion-card-title>
      <ion-label>{{ produto.preco.toLocaleString('pt-BR',{style: 'currency', currency:'BRL'}) }}</ion-label>
    </ion-card-header>
    <ion-card-content>
      {{ produto.descricao }}
    </ion-card-content>
    <ion-item>
      <ion-button color="primary" *ngIf="isUserAuthenticated == false" [routerLink]="['/tabs/minhaconta']">
        <ion-icon name="checkbox" slot="start"></ion-icon>
        Adicionar ao carrinho
      </ion-button>
      <ion-button color="secondary"
      (click)="adicionarAoCarrinho(produto.descricao, produto.preco, quantidadeUltimaSelecao[indiceAtual])"
      *ngIf="isUserAuthenticated == true && prodStatus[indiceAtual] == 0" [disabled]="produto.quantidade <= 0">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        Adcionar ao carrinho
      </ion-button>
      <ion-button color="danger"
      (click)="removerDoCarrinho(produto.descricao, produto.preco, quantidadeUltimaSelecao[indiceAtual])"
      *ngIf="prodStatus[indiceAtual] == 1">
        <ion-icon name="close" slot="start"></ion-icon>
        Remover do carrinho
      </ion-button>
      <div *ngIf="produto.quantidade > 1" style="margin-left: 10px">
        {{ produto.quantidade }} disponíveis
      </div>
      <div *ngIf="produto.quantidade == 1" style="margin-left: 10px">
        {{ produto.quantidade }} disponível
      </div>
      <div *ngIf="produto.quantidade <= 0" style="margin-left: 10px">
        Indisponível
      </div>
    </ion-item>
    <ion-item>
      <ion-button class="radius" color="danger" size="small" (click)="diminuirQtd(indiceAtual)" [disabled]="quantidadeUltimaSelecao[indiceAtual] == 1 || prodStatus[indiceAtual] == 1 || produto.quantidade <= 0 || isUserAuthenticated == false">
        -
      </ion-button>
      <ion-button color="light" style="--border-radius: 5px" [disabled]="produto.quantidade <= 0 || isUserAuthenticated == false">
        {{ quantidadeUltimaSelecao[indiceAtual] }}
      </ion-button>
      <ion-button class="radius" color="secondary" size="small" (click)="adicionarQtd(indiceAtual)" [disabled]="quantidadeUltimaSelecao[indiceAtual] == produto.quantidade || prodStatus[indiceAtual] == 1 || produto.quantidade <= 0 || isUserAuthenticated == false">
        +
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>