

.imgprodutos{
    position: relative;
    left: 65px;
    width: 130px;
    height: 100px;

}


.cardproduto{
    border-style: solid;
    width: 260px;
    height: 10px;
    border-radius: 5px;
    position: relative;
    left: 18px;

}