<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">CONCLUIDO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" style="position: relative;">
  <h1>Obrigado pela sua compra!</h1>
  <h4>Até a próxima!!!</h4>

  <ion-button color="primary" [routerLink]="['//minhas-compras']">Minhas compras</ion-button>
  <ion-button color="primary" [routerLink]="['/tabs/produtos']">Nossos produtos</ion-button>
</ion-content>