<ion-header>
  <ion-toolbar color="primary"  class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding">

  <form #loginForm = "ngForm" (ngSubmit) = "onSubmit(username)">
    <ion-item class="topRadius">
      <ion-label position = "stacked">Login</ion-label>
      <ion-input type     = "username" [(ngModel)] = "loginModel.username" name = "username" #username = "ngModel" required></ion-input>
    </ion-item>

    <ion-item class="bottomRadius">
      <ion-label position = "stacked">Senha</ion-label>
      <ion-input type     = "password" [(ngModel)] = "loginModel.password" name = "password" #password = "ngModel" required>
      </ion-input>
    </ion-item>

    <div margin-vertical style="margin-top: 15px;">
      <ion-button color = "primary" expand = "block" type = "submit" [disabled] = "!loginForm.form.valid">Entrar</ion-button>
    </div>
  </form>

  <ion-button expand = "block" color = "dark" fill = "clear" [routerLink] = "['/criar-conta']">Criar uma conta</ion-button>

</ion-content>